/* Style page for index.html */
body {

}
.header {
  background-color: #4cb3fd;
  padding: 80px;
}
.body-1 {
  padding: 50px;
  background-color: #dedcd0;
}
h1.ui.header {
  color: white;
  font-size: 50px;
}
i.icon {
  font-size: 30px;
  padding: 10px;
  color: black;
}
label {
  font-weight: bold;
  font-size: 15px;
}
button.ui.button{
  margin: 5px;
}
.ui.selectable {
  cursor: pointer;
}
.alert.header {
  background-color: red;
}
